<div class="announcement-bar">
  <div
    class="announcement-bar__marquee"
    (mouseenter)="onMarqueeEnter()"
    (mouseleave)="onMarqueeLeave()"
  >
    <ul class="announcement-bar__marquee__list" #marqueeList>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
      <li>Save 20% on your first order</li>
      <li>-</li>
    </ul>
  </div>
</div>
