@reference "tailwindcss";
/* ===== Footer wrapper ===== */
.footer {
  @apply relative flex flex-col items-start justify-start gap-3 w-full h-min pt-3 overflow-visible;
}

/* ===== Social pills row ===== */
.footer__socials {
  @apply relative flex flex-row flex-none items-start justify-start gap-3 w-full h-min p-0 overflow-visible;
}

/* ===== Main grid ===== */
.footer__grid {
  @apply relative flex flex-row flex-none content-start items-start gap-3 p-0 w-full h-min overflow-visible;
}

/* ===== Cards ===== */
.footer-card {
  @apply relative rounded-xl bg-(--background-color-footer) text-(--text-color-footer) overflow-hidden;
}

.footer-card--main {
  @apply relative flex flex-row grow shrink-0 basis-0 content-start items-start self-stretch gap-16 p-16 w-px h-auto overflow-visible;
}

.footer-card__left {
  @apply relative flex flex-col grow shrink-0 basis-0 content-start justify-between items-start w-px h-full p-0 overflow-visible;
}

/* ===== Brand ===== */
.footer-brand {
  @apply relative flex flex-col flex-none content-start justify-start items-start gap-4 p-0 w-full h-min overflow-visible;
}


.footer-brand__logo {
  @apply relative flex flex-row content-center justify-start items-center gap-1.5 p-0 w-min h-min no-underline cursor-pointer overflow-visible;
  &:hover {
    .footer-brand__name span {
      @apply top-full;
    }
  }
}

.footer-brand__dot {
  @apply inline-block w-3 h-3 rounded-full border-2 border-solid border-[rgba(255,255,255,0.9)]
}

.footer-brand__name {
  @apply relative flex flex-col content-start justify-end items-start gap-0 p-0 w-min h-[18px] overflow-hidden;
  span {
    @apply relative flex-none w-auto h-auto text-[0.9375rem] leading-[120%] font-medium top-0 transition-all duration-250 ease-in-out;
  }
}

.footer-brand__desc {
  @apply relative flex flex-none w-full max-w-[300px] h-auto text-(--description-color-footer) text-[0.875rem] leading-[130%] font-normal wrap-break-word;
}

/* ===== Columns ===== */
.footer-links {
  @apply relative grid grid-flow-col gap-16 items-start w-full max-w-[350px] h-min p-0 overflow-visible;
}

.footer-col {
  @apply flex flex-col gap-8 w-min h-min;
}

.footer-col__title {
  @apply text-[1rem] leading-[130%] font-normal text-(--text-color-footer);
}

.footer-col__links {
  @apply relative flex flex-col flex-none content-start items-start gap-4 p-0 w-min h-min overflow-visible;
}

.footer-link {
  @apply relative flex flex-col flex-none content-start items-start gap-px p-0 w-auto h-[15px] no-underline cursor-pointer overflow-hidden;
}

.footer-link span{
  @apply relative flex w-min h-min no-underline text-[0.875rem] leading-[100%] text-(--text-color-footer-link) text-nowrap top-0 transition-all duration-250 ease-in-out;
}

.footer-link:hover {
  span {
    @apply text-(--text-color-footer-link-hover) -top-full;
  }
}

/* ===== Bottom ===== */
.footer-bottom {
  @apply relative flex flex-col flex-none content-start justify-center items-start gap-4 p-0 w-full h-min overflow-visible;
}

.footer-credit {
  @apply relative flex flex-none gap-1 w-[300px] h-auto text-(--text-color-footer) text-[0.875rem] leading-[130%] font-normal text-nowrap wrap-break-word;
}

.footer-credit__link {
  @apply text-(--text-color-footer) text-[0.875rem] leading-[130%] font-normal underline decoration-1 underline-offset-1;
}

/* ===== Newsletter card ===== */
.footer-card--newsletter {
  @apply relative flex flex-col grow-[.4] shrink-0 basis-0 content-start justify-start items-start gap-24 p-12 w-px h-min overflow-visible;
}

.newsletter__title {
  @apply text-[1.75rem] leading-[120%] font-normal;
}

.newsletter {
  @apply relative flex flex-col gap-2.5 w-full h-auto text-(--text-color-footer);
}

.newsletter__input {
  @apply appearance-none w-full h-auto outline-none border-none p-3.5 rounded-md bg-(--background-color-input) text-(--text-color-input) text-[1rem] leading-[1em] font-normal font-['DM_Sans',sans-serif] will-change-auto;
}

.newsletter__input::placeholder {
  @apply text-(--placeholder-color-input);
}

.newsletter__button {
  @apply appearance-none w-full h-full outline-none border-none cursor-pointer p-3.5 rounded-md bg-(--background-color-footer-btn) text-(--text-color-footer-btn) text-[0.875rem] leading-[1em] tracking-normal font-normal font-['DM_Sans',sans-serif] will-change-auto shadow-none not-italic z-1;
}