@reference "tailwindcss";
.navbar {
    @apply inline-flex justify-between items-center w-full;
}
.navbar__start {
    @apply inline-flex items-center px-4 py-1 pb-3 gap-4 h-min w-min;
}
.navbar__end {
    @apply inline-flex items-center px-4 py-[7px] pb-3;
}
.navbar__logo {
    .navbar__logo__icon {
        
    }
    .navbar__logo__text {
        @apply text-[0.875rem];
        
    }
}
.navbar__links {
    @apply inline-flex items-center gap-4;
    a {
        @apply text-[0.875rem] text-nowrap
    }
}