/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --font-family: 'DM Sans', sans-serif;
    --font-size: 1rem;
    --font-weight: 400;
    --letter-spacing: 0em;
    --font-style: normal;
    --font-optical-sizing: auto;
    --line-height: 120%;
    --color-text: #0e1011;
    --background-color-toggle: #ececec;
    --background-color-logo: #fff;
    --stroke-color-logo: #0e1011;
    --background-color: #fff;
    --background-color-announcement-bar: #0e1011;
    --color-text-announcement-bar: #fff;
    --mask-image-announcement-bar: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
    --background-color-card-hero: #fff;
    --color-text-card-hero-title: #0e1011;
    --color-text-card-hero-description: #0e101199;
    --background-color-card-hero-btn: #0e101133;
    --background-color-hero-dots: #0e101133;
    --background-color-hero-dot: #fff;
    --background-color-inverted-border: radial-gradient(circle 18px at bottom right, #0000 98%, #fff) bottom right;
    --background-color-inverted-border: radial-gradient(circle at 100% 100%, #0000 18px, transparent 18px);
    --background-color-feature-bar: #0e1011;
    --color-text-feature-bar-icon: #fff;
    --background-color-our-favourites: #f6f6f6;
    --color-text-card-product-discount: #0e101199;
    --background-color-collections-card: #fff;
    --background-color-collections-card-variant: #0e1011;
    --text-color-collections-card: #0e1011;
    --text-color-collections-card-variant: #fff;
}

* {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    font-optical-sizing: var(--font-optical-sizing);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

.dark {
    @apply bg-(--background-color);
    --color-text: #fff;
    --background-color-toggle: #202324;
    --background-color-logo: #0e1011;
    --stroke-color-logo: #fff;
    --background-color: #0e1011;
    --background-color-announcement-bar: #fff;
    --color-text-announcement-bar: #0e1011;
    --background-color-card-hero: #0e1011;
    --color-text-card-hero-title: #fff;
    --color-text-card-hero-description: #9f9fa0;
    --background-color-feature-bar: #fff;
    --color-text-feature-bar-icon: #0e1011;
    --background-color-our-favourites: #181b1c;
    --background-color-collections-card: #0e1011;
    --background-color-collections-card-variant: #fff;
    --text-color-collections-card: #fff;
    --text-color-collections-card-variant: #0e1011;
}

body {
    @apply p-3;
}

svg {
    @apply block w-full h-auto text-inherit;
}